@font-face {
	font-family:Omnes;
	src:url(../asset/font/Omnes.ttf);
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	color:rgb(102,178,233);
}

#banner {
	width: 300px;
	height: 250px;
	background: url("../asset/img/gulf.jpg");
	font-family: Omnes;
	border: 1px solid black;
	position: relative;
	overflow: hidden;
}

.first {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(255,255,102);
	color: cadetblue;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
}

.first h1:first-child {
	padding-top: 1rem;
}

.first h1 {
	padding-bottom: 1rem;
}

.text-div {
	width: 60%;
	height: 100%;
	background:rgba(255,255,102,.8);
	position: relative;
}

.title-div,
.points {
	left:20px;
}

.title-div {
	position:absolute;
	top: 50px;
}

.title-div h2 {
	font-weight: 100;
	padding-bottom: .2rem;
}

 h1 {
	font-size: 2.5rem;
	letter-spacing: 0.1rem;
}

.logo {
	position: absolute;
    width: 77px;
    height: auto;
    top: -9px;
    right: 5px;
}

.points {
	position: absolute;
    top: 135px;
}

.points > * {
	color: rgb(53,116,156);
}

.points p {
	font-size:.7rem;
	padding-bottom: .3rem;
}

.points h1 {
	display: inline-block;
	width: 50%;
}

.points h4 {
	display: inline-block;
	width: 40%;
	font-size:0.9rem;
}

.button {
	position: absolute;
    bottom: 12px;
    left:12px;
    right: 12px;
    font-size: .7rem;
    padding:.5rem 1rem;
    text-decoration: none;
    background-color: rgb(255,255,255);
    text-align: center;
    border-radius: 2px;
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out,background-color .3s ease-in-out;
}

.button:hover {
	background-color: rgb(204,64,61);
	color:rgb(255,255,255);
}

.button span {
	padding-left: .2rem;
}